:root {
    --accent-color: #ffc125;
    --accent-color-dark: #d2a020;
    --accent-back-color: #333131;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 1em;
    flex-wrap: wrap;
    background-color: #333131;
    color: var(--accent-color);
    border-bottom: 4px solid;
}
header img {
    max-height: 4em;
}
header p {
    font-size: 2em;
}
hr {
    width: 80%;
    border: 4px solid;
    border-radius: 50%;
    margin: 2em auto;
}
footer {
    border-top: 4px solid;
}
nav {
    position: sticky;
    top: 0;
}
nav,
footer {
    background-color: var(--accent-color);
}
nav ul,
footer ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
nav li,
footer li {
    display: inline-block;
}
nav li:hover,
footer li:hover {
    background-color: var(--accent-color-dark);
}
main {
    display: grid;
    grid-template-columns: auto;
}
body {
    margin: 0;
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    line-height: 1.5;
}
article {
    width: 80%;
    margin: 0 auto;
}
aside,
main,
article {
    padding: 2em;
}
h1 {
    font-size: 3em;
    text-align: center;
}
aside h2 {
    text-align: center;
}
/* container box system */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#catMenu {
    justify-content: space-between;
}
.box,
.category {
    margin: 0.2em;
    padding: 1em;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 5px lightgray;
}
.box {
    max-width: 90%;
    text-decoration: none;
    color: black;
}
.box:hover,
.category:hover {
    box-shadow: 0px 0px 10px black;
}
.box-title {
    font-weight: bold;
    border-bottom: 2px solid black;
    padding: 1em;
    margin: 0;
}
.box img {
    width: 80%;
    border-radius: 80%;
}
.category {
    border-radius: 10px;
    padding: 5px;
    margin: 0.5em;
}
.category button {
    display: block;
    padding: 0.5em;
    /*background: linear-gradient(60deg, var(--accent-color), var(--accent-back-color));*/
    background-color: var(--accent-color-dark);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    letter-spacing: -1px;
    word-spacing: -4px;
    font-weight: 1000;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    color: black;
}
/* links */
nav a,
footer a {
    color: black;
    text-decoration: none;
    padding: 1em;
    display: block;
}
/* linear gradient */
footer,
header,
hr {
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, transparent, var(--accent-color), var(--accent-back-color), var(--accent-color), transparent);
}
/* Cookie Banner */
.fixed {
    border: var(--accent-color-dark) solid 3px;
    background-color: white;
    box-shadow: 0px 0px 10px gray;
    max-height: 50%;
    max-width: 100%;
    padding: 1em;
    padding-bottom: 3em;
    position: fixed;
    bottom: 0;
    right: 0;
}
.msg {
    border: solid var(--accent-color);
    padding: 0.5em;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
}
form {
    display: grid;
    grid-template-columns: auto;
    gap: 1em;
}
input,
textarea {
    padding: 0.5em;
    border: none;
    border-bottom: solid var(--accent-color-dark);
    font: inherit;
    letter-spacing: inherit;
}
input:focus,
textarea:focus,
input:focus-visible,
textarea:focus-visible {
    box-shadow: 0px 0px 10px gray;
    border: none;
    border-bottom: solid var(--accent-color-dark);
    outline: none;
}
textarea {
    resize: vertical;
}
button {
    background-color: var(--accent-color);
    /* background-image: linear-gradient(to right, var(--accent-color), var(--accent-back-color), var(--accent-color)); */
    /* color: white; */
    border: none;
    border-radius: 2em;
    padding: 0.5em;
    font: inherit;
    letter-spacing: inherit;
    min-width: 3em;
}
@media only screen and (min-width: 600px) {
    article .box {
        width: 40%;
    }
}
@media only screen and (min-width: 768px) {
    main {
        grid-template-columns: 1fr 3fr;
    }
    .fixed {
        height: 100px;
    }
    aside,
    main,
    article {
        padding: 2em;
    }
    article {
        width: 80%;
    }
    article .box,
    aside .box {
        width: 250px;
    }
    form {
        grid-template-columns: 1fr 3fr;
    }
}